html
div#PageTitle {
   height:300px;
   font-size:14pt;
   background: #607d8b;
   display: inline;
}
#WorkExperience {
  display: inline;
}
#About {
  display: inline;
}
h1 {
 background: #8eacbb;
 color: #000000;
}
a {
  background: #34515e;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
